-
  const members = [
    {
      name: 'Luke Taylor',
      twitter: '1Defenestrator',
      github: 'controversial',
    },
    {
      name: 'Isaac Cheruiyot',
      twitter: 'whitestmystery',
      github: 'icykip',
    },
    {
      name: 'Elijah Tamarchenko',
      twitter: 'conqueror1776',
      github: 'conqueror1776',
    },
    {
      name: 'Luciano Crimi',
      twitter: 'crimster123',
      github: 'crimster123'
    },
  ]


doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content='Arkis is a software and technology company founded by Luke Taylor, Isaac Cheruiyot, Elijah Tamarchenko, and Luciano Crimi, students in New Paltz High School.')

    title Arkis

    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72586531-6', 'auto');
      ga('send', 'pageview');


  body(ontouchstart='')

    include intro-animation/intro-anim.pug

    //- Actual content of the page
    #content-main

      .top-bar(data-build-delay='0.1')
        a.letter-logo(href='/') A
        .right
          a.desktop-only(href='') About
          a.desktop-only(href='') Products
          a.desktop-only(href='') Contact
          a.desktop-only.ion.ion-logo-github(href='https://github.com/arkis')

          //- On mobile, the only visible link is a button to open a fullscreen menu
          button.mobile-only.ion.ion-md-menu

      //- Fullscreen menu for mobile devices
      .mobile-menu.mobile-only
        ul
          li
            a(href='') About
          li
            a(href='') Products
          li
            a(href='') Contact
          li
            a(href='https://github.com/arkis') Github

      h1.headline.center.caps(data-build-delay='1') We are Arkis

      canvas#mist(data-build-delay='2')
      .mist-gradient(data-build-delay='2')

      //- "Our team" section containing info about the members of Arkis
      section.team-section
        h2.center.caps Our team
        .cards-container
          each member in members
            .member-info
              img(src=`https://arkisio.now.sh/profile/${member.twitter}`, alt=member.name)
              .name= member.name
              a(href=`https://twitter.com/${member.twitter}`)
                span.handle= `@${member.twitter}`
                i.ion.ion-logo-twitter
              a(href=`https://github.com/${member.github}`)
                span.handle= `@${member.github}`
                i.ion.ion-logo-github

      //- Map showing where we are roughly
      section#map

      //- "Contact us" form
      section.contact
        form#contact-form(action='https://arkisio.now.sh/contact', method='POST')
          //- Standard view of the form (as a form)
          .normal-form-content
            h4.center.caps Contact
            .inline-inputs
              input(type='text', name='firstName', placeholder='First')
              input(type='text', name='lastName', placeholder='Last')
              input(type='email', name='email', placeholder='Email')
            input(type='text', name='message', placeholder='Message', autocomplete='off')

            .button-container
              button#contact-form-submit(type='button') Send your message

          //- Provides a backdrop for the result of the submission
          .result-background

          //- View when message sends successfully
          .success
            h4.center.caps Message sent

          //- View when message fails to send
          .failure
            h4.center.caps Message failed

          //- Loading indicator as message fate is unknown
          .spinner

      //- A bit of info at the bottom
      footer
        .left
          h5 Arkis
          span.copyright Copyright &copy; 2017 Arkis
        .footer-logo A

  //- Literally everything because webpack
  script(src='home/index.js')
